h1 {
    font-size: 4rem;
}

.glossary {
    font-size: 2rem;
    padding-left: 50px;
    li {
        margin-bottom: 20px;

        .li-content {
            display: flex;
            align-items: center;

            button {
                cursor: pointer;
            }
    
            .section-title {
                margin-right: 10px;
            }
        }

        .lesson-content {
            font-size: 1rem;
            color: gray;
        }
    }
}