/* You can add global styles to this file, and also import other style files */
.studying-sections {
    padding-left: 50px;

    .section-content {
        padding-left: 30px;
        
        .examples-area {
            display: flex;
            justify-content: start;
            margin-top: 35px;

            div {
                margin-right: 50px;
            }
        }
    }
}